@import url('./_variables.css');
@import url('./_forms.css');
@import url('./_reset.css');
@import url('./_usersView.css');

.container {
  padding: 0 8rem 4rem 8rem;
}

/* Style navbar */
.navbar {
  margin: 2rem 8rem;
}

/* Style form box container */
.box {
  flex: 1;
  border-radius: .5rem;
  border: 2px solid #f0f0f0;
  box-shadow: 0 0 30px #5a5a5a10;
}

/* Style box title */
.box > .title {
  width: 100%;
  height: fit-content;
  margin-top: 16px;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f0f0f0;
}

/* Style fonts */
.title {
  color: var(--color-primary);
  font: 700 2rem var(--font-primary);
}

.text {
  font: 400 1rem var(--font-secondary);
  color: #555;
}

/* Button styles */
.button {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: .625rem;
  font: 400 1rem var(--font-primary);
  color: #FFF;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0 10px #00000010;
  text-align: start;
}

.button:active {
  filter: opacity(.5);
}

.button:hover {
  transform: translateX(-1rem);
}

.buttonDefault {
  margin-right: 1rem;
  background: var(--color-primary);
}

.buttonDefault + .buttonDefault {
  margin-top: .5rem;
}

.buttonDefault:hover {
  background: var(--color-primary-hover);
}

/* Submit Button */
.buttonSubmit {
  background: var(--color-success);
  margin-top: 1rem;
}

.buttonSubmit:hover {
  background: var(--color-success-hover);
  transition: none;
}

/* Action Button */
.actionButton {
  font: 400 .875rem var(--color-primary);
  border: none;
  padding: .5rem;
  color: #fff;
  border-radius: .5rem;
  cursor: pointer;
  transition: 0.2s;
}

.actionButton + .actionButton {
  margin-left: .5rem;
}

.actionButton:active {
  filter: opacity(0.5);
}

.actionButton.edit {
  background: var(--color-primary);
}
.actionButton.edit:hover {
  background: var(--color-primary-hover);
}

.actionButton.delete {
  background: var(--color-danger);
}
.actionButton.delete:hover {
  background: var(--color-danger-hover);
}

/* My own display flex "framework" */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.mainCenter {
  justify-content: center;
}

.crossCenter {
  align-items: center;
}

.mainEnd {
  justify-content: flex-end;
}

.crossEnd {
  align-items: flex-end;
}